<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <!-- Cadena de conexión de desarrollo usada por la aplicación. Ajustar según el entorno local. -->
        <add name="App" connectionString="Server=.\SQLEXPRESS;Database=CheckpointDB;Trusted_Connection=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
        <!-- Cadena usada para crear la base de datos (apunta a master). Opcional pero útil para inicializar la BD en dev -->
        <add name="AppMaster" connectionString="Server=.\\SQLEXPRESS;Database=master;Trusted_Connection=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>